# Environment
ENV=dev
DEBUG=true

# Database settings
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=my_project_db
DB_PORT=5432

# Django settings
SECRET_KEY=your-django-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1

# JWT settings
JWT_SECRET_KEY=your-secret-key-here
JWT_ACCESS_TOKEN_LIFETIME=5
JWT_REFRESH_TOKEN_LIFETIME=1440